<main>
  <mat-list layout="column" layout-align="center center">
    <mat-list-item>
      <div class="the-content">
        <h2>Sounds</h2>
        <mat-tab-group dynamicHeight>
          <mat-tab label="Spotify">
            <div class="small-box mat-elevation-z4">
              Content
            </div>
            <div class="small-box mat-elevation-z4">
              Content
            </div>
          </mat-tab>
          <mat-tab label="Soundcloud">
            <div class="large-box mat-elevation-z4">
              Content
            </div>
            <div class="large-box mat-elevation-z4">
              Content
            </div>
            <div class="large-box mat-elevation-z4">
              Content
            </div>
          </mat-tab>
          <mat-tab label="Elsewhere ...">
            <div class="small-box mat-elevation-z4">
              Content
            </div>
            <div class="small-box mat-elevation-z4">
              Content
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="the-content">
        <h2>Sights</h2>
        <mat-tab-group dynamicHeight>
          <mat-tab label="YouTube">
            <div class="small-box mat-elevation-z4">
              Content
            </div>
            <div class="small-box mat-elevation-z4">
              Content
            </div>
          </mat-tab>
          <mat-tab label="Instagram">
            <div class="large-box mat-elevation-z4">
              Content
            </div>
          </mat-tab>
          <mat-tab label="Facebook">
            <div class="large-box mat-elevation-z4">
              Content
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="the-content">
        <h2>Information</h2>
        <mat-tab-group dynamicHeight>
          <mat-tab label="About">
            <div class="small-box mat-elevation-z4">
              Content
            </div>
          </mat-tab>
          <mat-tab label="Outputmessage">
            <div class="small-box mat-elevation-z4">
              Content
            </div>
          </mat-tab>
          <mat-tab label="Blinkhorn">
            <div class="small-box mat-elevation-z4">
              Content
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-list-item>
  </mat-list>
</main>
