main {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  margin: 4rem;
  text-align: center;
}

.mat-list-item {
  margin: 10rem;
}

.small-box, .large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
